<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DvdRentalConnectionString" connectionString="Data Source=DKCPW00523\SQLEXPRESS2012;Initial Catalog=dvdrental;Persist Security Info=True;User ID=dvdrental;Password=dvdrental" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>